#galaxytable {
    width: 100vw !important;
    table-layout: fixed;
    height: 520px !important;
    min-height: 520px !important;
    display: block;
}

#galaxytable tr {
    width: 100vw !important;
    display: flex;
}

#galaxytable tfoot {
    display: none;
}

#galaxytable td.microplanet {
    width: 10vw !important;
}

#galaxytable td.planetname {
    display: none;
}

#galaxytable td.moon {
    /* left: 7vw; */
    margin-left: 1vw;
    width: 10vw !important;
}

#galaxytable td.debris {
    width: 10vw !important;
}

#galaxytable tr:nth-child(2) th:nth-child(2) {
    display: none !important;
}
